{% load static %}

<!-- templates/schemesapp/scheme_detail.html -->
<head>
<link rel="stylesheet" href="{% static 'css/scheme_details.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ scheme.name }}</h1>
        <p><strong>Short Description:</strong> {{ scheme.objective }}</p>
        <hr>
        <h2>Full Details:</h2>
        <p>{{ scheme.full_description }}</p>

        <a href="{% url 'scheme_list' %}">← Back to list</a>
    </div>
    <h2>Feedback</h2>

{% if feedbacks %}
  <ul>
  {% for feedback in feedbacks %}
    <li>
    <strong>{{ feedback.user.username }}</strong> said: <br>
      {{ feedback.message }} <br>
      <small>Submitted on {{ feedback.submitted_at|date:"F j, Y, g:i a" }}</small>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No feedback available for this scheme.</p>
{% endif %}
</body>
</html>