{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/addEmployee.css' %}">
</head>
<body>
  {% block content %}
  <form method="POST" action="{% url 'add_employee' %}">
    {% csrf_token %}

    <div class="container">
      <div class="blur-background"></div>
      <div class="form-container">
        <div class="form">
          <h2 style="text-align: center;">Add Employee</h2>

          <div class="form-field">
            {{ form.as_p }}
          </div>

        </div>

        <div class="button-container">
          <input type="submit" class="btn" value="Add Employee" />
        </div>

</div>
      </div>
    </div>
  </form>
  {% endblock %}
</body>
</html>
