{% load static %} {% block content %}
<title>Eligibility</title>
<link rel="stylesheet" href="{% static 'css/eligible_schemes.css' %}" />
<main class="container" role="main" aria-labelledby="eligibility-title">
  <h2 id="eligibility-title">
    You are eligible for {{ total }} scheme{{ total|pluralize }}
  </h2>

  <ul>
    {% for scheme in eligible_schemes %}
    <li role="article" aria-label="Eligible scheme: {{ scheme.name }}">
      <a href="{% url 'scheme_detail' scheme.pk %}" style="text-decoration: none; color: inherit;">
      <h4>{{ scheme.name }}</h4>
      <p>{{ scheme.description }}</p>
    </li>
    {% empty %}
    <li class="no-eligibility">
      You are not currently eligible for any schemes.
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
